<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="css" href="../styles/index.css" />
        <title>Edit Product</title>
        <style>
        body {    
            font-family: Roboto, Arial;
            margin: 0;
            background-color: rgb(247, 228, 228);
        }
        div {
            display: flex;
            justify-content: center;
            flex-direction: row;
        }
        label {
            display: block;
            margin-top: 20px;
            margin-bottom: 5px;
        }
        </style>
    </head>
    <body>
        <div>
        <form action="/products/<%=product._id%>?_method=PUT" method="POST">
            <label for="name">Product Name</label>
            <input
                type="text"
                name="name"
                id="name"
                placeholder="product name"
                value="<%=product.name%>"
            />
            <label for="price">Price($)</label>
            <input
                type="number"
                step="any"
                name="price"
                id="price"
                placeholder="price"
                value="<%=product.price%>"
            />
            <label for="category">Category</label>
            <select name="category" id="category">
                <% for (let category of categories ) { %>
                    <option value="<%=category%>" <%= product.category === category ? 'selected': '' %>><%=category%></option>
                <% } %>
            </select>
            <label for="freshness">Freshness</label>
            <select name="freshness" id="freshness">
                <% for (let level of freshness) {%>
                <option value="<%=level%>"><%=level%></option>
                <% } %>
            </select>
            <label for="notes">notes:</label>
            <textarea
                id="text"
                name="text"
                rows="5"
                cols="30"
                placeholder="Please, leave your notes here
                &#010Your thoughts are very important for us... Joking, nobody cares"
            ></textarea>
            <br />
            <button>Submit</button>
            <a href="/products/<%=product._id%>">Cencel</a>
        </form>
    </div>
        
    </body>
</html>
